[submodule "silicon"]
	path = silicon
	url = https://github.com/viperproject/silicon
[submodule "carbon"]
	path = carbon
	url = https://github.com/viperproject/carbon
[submodule "silver"]
	path = silver
	url = https://github.com/viperproject/silver
