[submodule "silicon"]
	path = silicon
	url = https://github.com/viperproject/silicon
[submodule "carbon"]
	path = carbon
	url = https://github.com/viperproject/carbon
[submodule "vdc-query-frontend"]
	path = vdc-query-frontend
	url = https://github.com/viperproject/vdc-query-frontend
